item-list {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  display: block;
  font-size: 8px;
  margin-bottom: 9px;
  align-items: center;
}

item-list > item {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #e7ebee;
  margin: 3px 6px;
  padding: 2px;
  background-color: white;
}
