

item-list {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  display: block;
  font-size: 8px;
  margin-bottom: 9px;
}

item-list > item {
  display: inline-block;
  width: 300px;
  height: 160px;
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid #e7ebee;
  margin: 3px 6px;
  padding: 2px;
  background-color: white;
}

item-list > item .links {

}


item-list .asset-item {
  display: flex;
  flex-flow: row;
  font-size: 8px;
}

item-list .asset-item img {
  width: 160px;
  max-width: 160px;
  max-height: 160px;
  padding-right: 6px;
  /* pointer-events: none; */
}

item-list .tagged item {
  display: inline-block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 1px;
  padding: 1px 3px;
  position: relative;
}
