multi-select {
  display: block;
  width: 300px;
  max-width: 300px;
  min-height: 100px;
  font-size: 9px;
}
multi-select input {
  width: 100%;
}

multi-select .removable  {
  min-height: 16px;
}
multi-select removable-items  {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: 100%;
}

multi-select removable-items item {
  margin: 0; padding: 0;
  display: block;
  background: #e7ebee;
  border-radius: 2px 2px 2px 2px;
  padding: 1px 1px 1px 1px;
  margin-right: 2px;
}

multi-select removable-items item > span {
  margin: 0; padding: 0;
  display: inline-block;
  width: 10px;
  background-color: #c4cfd4;
  cursor: pointer;
  width: 12px;
  text-align: center;
  margin-left: 6px;
}

multi-select selectable-items item + item::before {
  content: " \2698  ";
  color: #d9d9d9;
}
